* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  html {
    font-size: 62.5%;
  }
  .main_div {
    position: relative;
    width: 192rem;
    height: 151.5rem;
  }
  
  .top_div {
    position: absolute;
    width: 192rem;
    height: 18.7rem;
    left: 0px;
    top: 0px;
    background-color: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .info_div {
    display: flex;
    flex-direction: row;
    margin-left: 50rem;
    margin-top: 8rem;
    width: 55rem;
  }
  p {
    margin-left: 5.7rem;
    font-family: "Konnect";
    font-style: normal;
    font-weight: 40rem;
    font-size: 18px;
    color: #ffffff;
  }
  
  .top_button_div {
    position: absolute;
    width: 36.3rem;
    height: 5rem;
    left: 120rem;
    top: 6.7rem;
    background: linear-gradient(91.18deg, #5ce65c 3.96%, #249806 101.84%);
    border-radius: 12px;
  }
  #button_1 {
    position: absolute;
    width: 16.5rem;
    height: 3.356rem;
    left: 1rem;
    top: 0.7rem;
  
    background: linear-gradient(90.19deg, #e7794b 3.19%, #962c02 99.83%);
    box-shadow: 0.6rem 0.1rem 0.9rem rgba(0, 0, 0, 0.62);
    border-radius: 0.7rem;
  }
  #button_2 {
    position: absolute;
    width: 16rem;
    height: 3.35rem;
    left: 18.5rem;
    top: 0.7rem;
  
    background: linear-gradient(91.08deg, #59a9ef 0.63%, #1d669d 101.42%);
    box-shadow: 0.6rem 0.1rem 0.9rem rgba(0, 0, 0, 0.62);
    border-radius: 0.7rem;
  }
  
  .connect_wallet_div {
    box-sizing: border-box;
    position: absolute;
    width: 17rem;
    height: 4rem;
    left: 164rem;
    top: 7.1rem;
  
    border-radius: 1.2rem;
    border: 1px solid #5ce65c;
  }
  
  #button_3 {
    margin: 1rem 1rem 1rem;
    margin-left: 2rem;
    background: #000;
    color: #fff;
    /* border:none */
  }
  
  .middle_div {
    background: url("./images/1bg2.png");
    color: #fff;
    object-fit: cover;
    position: absolute;
    width: 192rem;
    height: 114.5rem;
    margin-left: 0px;
    margin-top: 18.7rem;
  }
  .inner_div {
    box-sizing: border-box;
    position: absolute;
    width: 169.8rem;
    height: 97.6rem;
    margin-left: 11rem;
    margin-top: 8.3rem;
    border: 0.2rem solid #5ce65c;
    background: rgba(96, 96, 96, 0.43);
    border-radius: 3.4rem;
  }
  .inner_div_top {
    box-sizing: border-box;
  
    position: absolute;
    width: 43.6rem;
    height: 29.2rem;
    margin-left: 16.3rem;
    margin-top: 3.4rem;
  
    background: #1a1e21;
    border-radius: 1.5rem;
    border: 0.2rem solid #5ce65c;
  }
  .inner_top {
    position: absolute;
    width: 9.8rem;
    height: 2.1rem;
    margin-left: 16.5rem;
    margin-top: 2.7rem;
    font-family: "Konnect";
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #ffffff;
  }
  .inner_top_1 {
    position: absolute;
    width: 37.4rem;
    height: 5.1rem;
    margin-left: 3.2rem;
    margin-top: 5.4rem;
  
    font-family: "Konnect";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 169.3%;
    color: #ffffff;
  }
  .inner_mid {
    position: absolute;
    width: 37.4rem;
    height: 3.6rem;
    margin-top: 11.4rem;
    margin-left: 3.2rem;
  
    font-family: "Konnect";
    font-style: italic;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 148.8%;
    color: #404345;
  }
  .inner_bottom {
    position: absolute;
    width: 37.5rem;
    height: 3.2rem;
    margin-left: 3.2rem;
    margin-top: 15.8rem;
  
    font-family: "Konnect";
    font-style: italic;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 148.8%;
    color: #79fb53;
  }
  .inner_bottom_button {
    box-sizing: border-box;
  
    position: absolute;
    width: 37.4rem;
    height: 3.8rem;
    margin-left: 3.2rem;
    margin-top: 21.8rem;
    border-radius: 5.5rem;
    border: 1px solid #79fb53;
    display: flex;
    flex-direction: row;
  }
  .ether_img {
  }
  #button_26 {
    margin-left: 16rem;
    margin-top: 0.8rem;
  }
  .spark_image {
    position: absolute;
    left: 6.11%;
    right: 88.5%;
    bottom: 29%;
    height: 84.01px;
  }
  .spark_image_1 {
    position: absolute;
    left: 7.04%;
    right: 90.54%;
    bottom: 20%;
  }
  .inner_div_top_1 {
    box-sizing: border-box;
  
    position: absolute;
    width: 33.6rem;
    height: 40rem;
    margin-left: 65.4rem;
    margin-top: 17rem;
    border: 2px solid green;
    border-radius: 1.5rem;
  }
  .inner_div_1_mainnet {
    position: absolute;
    width: 33.1rem;
    height: 4.8rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background: #0e1012;
  }
  .SwitchNetwork {
    margin-top: 1.4rem;
    margin-left: 10.8rem;
    position: absolute;
    width: 12.3rem;
    height: 2.1rem;
    font-family: "Avenir Next Cyr";
    font-style: normal;
    font-weight: 450;
    font-size: 1.7rem;
    line-height: 2.1rem;
    color: #ffffff;
  }
  .innerdiv_mainnets_div {
    display: flex;
    flex-direction: column;
    margin-top: 4.8rem;
    margin-left: 1rem;
  }
  .inner_div_1_mainnets {
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    margin-top: 1.2rem;
    margin-bottom: 1.4rem;
  }
  #mainnets_img {
    /* position: absolute; */
    width: 3.5rem;
    height: 3.4rem;
    border-radius: 19.2rem;
  }
  .inner_div_1_mainnetsdescription {
    margin-top: 0.8rem;
  
    width: 14rem;
    height: 2.2rem;
    font-family: "Konnect";
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.2rem;
    color: #ffffff;
  }
  .innerdiv_testnets_div {
    margin-top: 3.2rem;
    margin-left:1rem;
    display:flex;
    flex-direction: row;
  }
  .inner_div_1_testnet {
    position: absolute;
    width: 33.1rem;
    height: 4.8rem;
    background: #0e1012;
    
  }
  .inner_div_1_testnets {
      display: flex;
    flex-direction: row;
    gap: 3.2rem;
    margin-top: 2.1rem;
    margin-bottom: 1.6rem; width: 33.1rem;
      height: 4.8rem;
      
    }
  .TestNetwork{
      margin-top: 1.4rem;
      margin-left: 13.1rem;
      position: absolute;
      width: 12.3rem;
      height: 2.1rem;
      font-family: "Avenir Next Cyr";
      font-style: normal;
      font-weight: 450;
      font-size: 1.7rem;
      line-height: 2.1rem;
      color: #ffffff;
  }
  
  .inner_div_1_testnetsdescription {
      /* position: absolute; */
      width: 8.9rem;
      height: 2.2rem;
      font-family: 'Konnect';
      font-style: normal;
      font-weight: 400;
      font-size: 1.7rem;
      line-height: 2.2rem;
      margin-top:1rem;
      color: #FFFFFF;
  }
  #testnets_img {
      width: 3.5rem;
      height: 3.4rem;
      border-radius: 19.2rem;
      margin-top:0.5rem
  }
  .bottom_div {
    position: absolute;
    width: 192rem;
    height: 18.8rem;
    left: 0px;
    top: 133rem;
    background-color: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .info_div_1 {
    display: flex;
    flex-direction: row;
    margin-left: 60rem;
    margin-top: 4rem;
    width: 55rem;
    box-sizing: border-box;
    position: absolute;
  }
  p {
    margin-left: 5.7rem;
    font-family: "Konnect";
    font-style: normal;
    font-weight: 40rem;
    font-size: 1.5rem;
    color: #ffffff;
    letter-spacing: 1px;
  }
  
  .bottom_corner {
    margin-left: 156.5rem;
    width: 26rem;
    height: 12rem;
    box-sizing: border-box;
    position: absolute;
    margin-top: 3rem;
  }
  
  .input {
    box-sizing: border-box;
    border: 1px solid #5ce65c;
    background: #ffffff;
    border-radius: 1.2rem;
    margin-left: 0.3rem;
    width: 24.5rem;
    height: 3.6rem;
    padding: 1rem;
  }
  
  #button_4 {
    position: absolute;
    width: 9.7rem;
    height: 3.6rem;
    margin-top: 4rem;
    background: linear-gradient(91.18deg, #5ce65c 3.96%, #249806 101.84%);
    border-radius: 0.7rem;
    margin-left: -9.5rem;
  }
  
  #bottom_para {
    margin-left: 1rem;
    font-family: "Konnect";
    font-style: normal;
    font-weight: 40rem;
    font-size: 1.5rem;
    color: #ffffff;
    letter-spacing: 0.2rem;
  }
  
  .heading {
    box-sizing: border-box;
    position: absolute;
    margin-left: 24rem;
    display: flex;
    flex-direction: column;
    width: 12rem;
    color: #fff;
    margin-top: 8rem;
    letter-spacing: 1rem;
  }
  
  .spark_image_2 {
    width: 2rem;
    height: 2rem;
    display: flex;
    margin-left: 38rem;
    margin-top: 13rem;
    box-sizing: border-box;
    position: absolute;
  }
  .spark_image_2_1 {
    margin-left: 2rem;
  }
  
  .info_div_3 {
    box-sizing: border-box;
    position: absolute;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    margin-left: 65rem;
    margin-top: 10rem;
    width: 50.5rem;
  }
  h5 {
    letter-spacing: 0.1rem;
    font-family: "Konnect";
    font-style: normal;
    font-weight: 40rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  
  @media (min-width: 1000px) and (max-width: 1550px) {
    html {
      font-size: 49.4%;
    }
    #button_3 {
      font-size: 10px;
    }
    .heading {
      margin-left: 27rem;
    }
  }
  
  @media (min-width: 1650px) and (max-width: 1920px) {
    html {
      font-size: 62.5%;
    }
    #button_3 {
      font-size: 10px;
    }
  }