* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  html {
    font-size: 62.5%;
  }
  .main_div {
    position: relative;
    width: 192rem;
    height: 151.5rem;
  }
  
  .top_div {
    position: absolute;
    width: 192rem;
    height: 18.7rem;
    left: 0px;
    top: 0px;
    background-color: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .info_div {
    display: flex;
    flex-direction: row;
    margin-left: 50rem;
    margin-top: 8rem;
    width: 55rem;
  }
  p {
    margin-left: 5.7re;
    font-family: "Konnect";
    font-style: normal;
    font-weight: 40rem;
    font-size: 18px;
    color: #ffffff;
  }
  
  .top_button_div {
    position: absolute;
    width: 36.3rem;
    height: 5rem;
    left: 120rem;
    top: 6.7rem;
    background: linear-gradient(91.18deg, #5ce65c 3.96%, #249806 101.84%);
    border-radius: 12px;
  }
  #button_1 {
    position: absolute;
    width: 16.5rem;
    height: 3.356rem;
    left: 1rem;
    top: 0.7rem;
  
    background: linear-gradient(90.19deg, #e7794b 3.19%, #962c02 99.83%);
    box-shadow: 0.6rem 0.1rem 0.9rem rgba(0, 0, 0, 0.62);
    border-radius: 0.7rem;
  }
  #button_2 {
    position: absolute;
    width: 16rem;
    height: 3.35rem;
    left: 18.5rem;
    top: 0.7rem;
  
    background: linear-gradient(91.08deg, #59a9ef 0.63%, #1d669d 101.42%);
    box-shadow: 0.6rem 0.1rem 0.9rem rgba(0, 0, 0, 0.62);
    border-radius: 0.7rem;
  }
  
  .connect_wallet_div {
    box-sizing: border-box;
    position: absolute;
    width: 17rem;
    height: 4rem;
    left: 164rem;
    top: 7.1rem;
  
    border-radius: 1.2rem;
    border: 1px solid #5ce65c;
  }
  
  #button_3 {
    margin: 1rem 1rem 1rem;
    margin-left: 2rem;
    background: #000;
    color: #fff;
  }
  
  .middle_div {
    background: url("./images/1bg2.png");
    color: #fff;
    object-fit: cover;
    position: absolute;
    width: 192rem;
    height: 114.5rem;
    margin-left: 0px;
    margin-top: 18.7rem;
  }
  .inner_div {
    box-sizing: border-box;
    position: absolute;
    width: 169.8rem;
    height: 97.6rem;
    left: 11rem;
    margin-top: 8.3rem;
    border: 2px solid #5ce65c;
    background: rgba(96, 96, 96, 0.43);
    border-radius: 3.4rem;
    display: flex;
    flex-direction: row;
  }
  .innerdiv_left {
    box-sizing: border-box;
  
    position: absolute;
    width: 725px;
    height: 905px;
    left: 15.5rem;
    top: 3.1rem;
  
    border: 2px solid #5ce65c;
  
    background: rgba(96, 96, 96, 0.43);
    box-shadow: inset -1px 10px 19px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
  }
  
  .innerdiv_left_top {
    display: flex;
    flex-direction: row;
  }
  .innerdiv_left_topboxes {
    display: flex;
    flex-direction: row;
  }
  .innerdiv_left_topboxes_left {
    box-sizing: border-box;
    position: absolute;
    width: 89px;
    height: 89px;
    margin-left: 5.5rem;
    margin-top: 4.9rem;
    border: 1px solid #5ce65c;
    border-radius: 8.9rem;
    background: rgba(35, 35, 35, 0.36);
  }
  .innerdiv_left_topheadings {
    margin-left: 17.2rem;
    margin-top: 6.8rem;
    position: absolute;
    width: 121px;
    height: 39px;
  
    font-family: "Konnect";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
  
    color: #5ce65c;
  }
  
  .inner_div_left_topboxes_right {
    position: absolute;
    width: 89px;
    height: 89px;
    margin-left: 57.9rem;
    margin-top: 5rem;
    border-radius: 258px;
  }
  .innerdiv_left_paragraph {
    position: absolute;
    width: 602px;
    height: 131px;
    margin-left: 5.6rem;
    margin-top: 17rem;
  
    font-family: "Avenir Next Cyr";
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
  
    color: #ffffff;
  }
  
  .innerdiv_left_images {
    margin-top: 33.4rem;
    margin-left: 5.5rem;
    display: flex;
    flex-direction: row;
    gap: 2.2rem;
    width: 2.3rem;
    height: 2rem;
  }
  .innerdiv_poolheadings {
    position: absolute;
    width: 16rem;
    height: 30px;
    margin-left: 5.5rem;
    margin-top: 2.7rem;
  
    font-family: "Konnect";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 30px;
    word-spacing: 0.5rem;
  
    color: #5ce65c;
  }
  .innerdiv_poolheadings_belowdiv {
    display: flex;
    flex-direction: row;
    margin-top: 6.4rem;
    margin-left: 5.5rem;
  }
  .innerdiv_poolheadings_belowdiv_left {
    position: absolute;
    width: 110rem;
    font-family: "Konnect";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */
  
    color: #ffffff;
  }
  
  .innerdiv_middle {
    display: flex;
    flex-direction: row;
    margin-top: 5.7rem;
    margin-left: 42rem;
    gap: 3rem;
  }
  .innerdiv_middleleft {
    display: flex;
    flex-direction: column;
  }
  .innerdiv_middleright {
    display: flex;
    flex-direction: column;
  }
  .innerdiv_middleleft_leftheadings {
    /* position: absolute; */
    width: 50px;
    height: 22px;
    /* left: 688px;
    top: 973px;  */
    font-family: "Konnect";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 169.3%;
    color: #ffffff;
  }
  
  .innerdiv_middleleft_rightheadings {
    /* position: absolute; */
    width: 173px;
    height: 16px;
    /* left: 754px;
    top: 976px; */
    margin-top: 0.5rem;
    font-family: "Avenir Next Cyr";
    font-style: normal;
    font-weight: 450;
    font-size: 11px;
    line-height: 148.8%;
    color: #ffffff;
  }
  .bottom {
    position: absolute;
    width: 72px;
    height: 28px;
    margin-left: 5.6rem;
    margin-top: 0.5rem;
  
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
  
    color: #5ce65c;
  }
  .innerdiv_bottom1 {
    display: flex;
    flex-direction: row;
    margin-left: 5.7rem;
    margin-top: 4rem;
    gap: 7rem;
  }
  .innerdiv_bottom1_left {
    display: flex;
    flex-direction: column;
  }
  .innerdiv_bottom1_right {
    display: flex;
    flex-direction: column;
  }
  .innerdiv_bottom1_leftheadings {
    /* position: absolute; */
    width: 42px;
    height: 25px;
    font-family: "Konnect";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 169.3%;
    color: #ffffff;
  }
  .innerdiv_bottom1_rightheadings {
    /* position: absolute; */
    width: 130px;
    height: 18px;
    font-family: "Avenir Next Cyr";
    font-style: normal;
    font-weight: 450;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    margin-top: 0.6rem;
  }
  #span_innerdiv {
    position: absolute;
    width: 39px;
    height: 17px;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
    font-family: "Konnect";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #ffffff;
  }
  .innerdiv_poolheadings_belowdiv_right {
    position: absolute;
    width: 143px;
    height: 25px;
    margin-left: 41.3rem;
    font-family: "Konnect";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 169.3%;
    color: #ffffff;
  }
  .innerdiv_poolheadings_1 {
    display: flex;
    flex-direction: row;
    margin-top: 5.5rem;
    margin-left: 5.5rem;
    gap: 5.5rem;
  }
  .innerdiv_poolheadings_1_left {
    display: flex;
    flex-direction: column;
  }
  .innerdiv_poolheadings_1_headingsleft {
    /* position: absolute; */
    width: 76px;
    height: 25px;
    /* left: 327px;
  top: 774px; */
    font-family: "Konnect";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 169.3%;
    color: #ffffff;
  }
  
  .innerdiv_poolheadings_1_right {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }
  .innerdiv_poolheadings_1_right {
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
  }
  .innerdiv_poolheadings_1_headingsright {
    /* position: absolute; */
    width: 261px;
    height: 18px;
    /* left: 458px;
    top: 778px; */
    font-family: "Avenir Next Cyr";
    font-style: normal;
    font-weight: 450;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
  }
  
  .innerdiv_right {
    box-sizing: border-box;
  
    position: absolute;
    width: 397px;
    height: 631px;
    margin-left: 100rem;
    margin-top: 3.1rem;
    border: 2px solid #5ce65c;
    background: rgba(96, 96, 96, 0.43);
    box-shadow: inset -1px 10px 19px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
  }
  
  /* .innerdivright_top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin-left: 2rem;
    margin-top: 8rem;
  } */
  
  /* .innerdivright_topboxes {
    box-sizing: border-box;
    width: 21.8rem;
    height: 34.3rem;
  
    border: 1px solid #5ce65c;
  
    border-radius: 10px;
  } */
  .innerdivright_bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin-left: 16rem;
    margin-top: 2.5rem;
  }
  .innerdivright_bottomboxes {
    box-sizing: border-box;
    width: 21.8rem;
    height: 34.3rem;
    /* position: absolute; */
  
    border: 1px solid #5ce65c;
  
    border-radius: 10px;
  }
  .innerdivright_button {
    position: absolute;
    width: 203px;
    height: 53px;
    margin-left: 5.5rem;
    margin-top: 2rem;
  
    /* gradient green */
  
    background: linear-gradient(91.18deg, #5ce65c 3.96%, #249806 101.84%);
    border-radius: 15px;
  }
  #button_15 {
    position: absolute;
    width: 137px;
    height: 29px;
    margin-left: 4.3rem;
    margin-top: 1.3rem;
  
    font-family: "Konnect";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 169.3%;
    /* identical to box height, or 29px */
  
    color: #ffffff;
  }
  .participate_div {
    display: flex;
    flex-direction: column;
    margin-top: 19rem;
    margin-left: 23.4rem;
  }
  .participate_div_heading {
    position: absolute;
    width: 125px;
    height: 24px;
    font-family: "Avenir Next Cyr";
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 169.3%;
    color: #d9d9d9;
  }
  .participate_div_line {
  }
  .boxes_top {
    display: flex;
    flex-direction: row;
  }
  .boxes_topleft {
    box-sizing: border-box;
  
    position: absolute;
    width: 89px;
    height: 89px;
    margin-left: 2rem;
    margin-top: 2.6rem;
    border: 1px solid #5ce65c;
    border-radius: 8.9rem;
    background: rgba(35, 35, 35, 0.36);
  }
  .boxes_topright {
    display: flex;
    flex-direction: column;
    margin-left: 14.2rem;
    margin-top: 4rem;
  }
  .boxes_heading {
    position: absolute;
    width: 95px;
    height: 31px;
    /* left: 1128px;
      top: 429px; */
  
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
  
    color: #5ce65c;
  }
  .boxes_heading1 {
    position: absolute;
    width: 38px;
    height: 22px;
    margin-top: 2.5rem;
  
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
  
    color: #afafaf;
  }
  .boxes_mid {
    display: flex;
    flex-direction: row;
  }
  .boxes_midbuttonleft {
    box-sizing: border-box;
  
    position: absolute;
    width: 51px;
    height: 17px;
    margin-left: 14.2rem;
    margin-top: 6rem;
    border: 0.5px solid #5ce65c;
  
    border-radius: 8px;
  }
  .boxes_midbuttonright {
    position: absolute;
    width: 51px;
    height: 17px;
    margin-left: 20rem;
    margin-top: 6rem;
  
    background: #71ee4f;
    border-radius: 8px;
  }
  #button_16 {
    /* background: url("images/padlock.png"); */
    position: absolute;
    width: 12px;
    height: 3px;
    margin-left: 1rem;
    margin-top: 0.5rem;
  
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 0.7rem;
    line-height: 4px;
  
    color: #ffffff;
  }
  #button_17 {
    /* background: url("images/Ellipse13.png"); */
  
    position: absolute;
    width: 8px;
    height: 3px;
    margin-left: 1.6rem;
    margin-top: 0.7rem;
  
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 0.7rem;
    line-height: 4px;
  
    color: #ffffff;
  }
  .wallet_div {
    box-sizing: border-box;
  
    position: absolute;
    width: 319px;
    height: 90px;
    margin-left: 3.3rem;
    margin-top: 10rem;
  
    background: rgba(26, 30, 33, 0.59);
    border-radius: 18px;
  }
  
  .boxes_mid1 {
    margin-top: 3rem;
  }
  .boxes_mid_inner {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
  }
  .boxes_mid_inner_top {
    position: absolute;
    width: 201px;
    height: 19px;
    /* left: 1309px;
    top: 504px; */
  
    font-family: "Avenir Next Cyr";
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 25px;
    color: #5ce65c;
  }
  .boxes_mid_inner_bottom {
    position: absolute;
    width: 201px;
    height: 19px;
    margin-top: 2.5rem;
  
    font-family: "Avenir Next Cyr";
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 22px;
    color: #5ce65c;
  }
  
  .potion_fill {
    width: 100%;
    height: 1.2rem;
  }
  .potion {
    position: absolute;
    margin-top: 1rem;
    margin-left: 4rem;
    width: 303px;
    height: 11px;
    margin-left: 4rem;
    background: #525252;
    border-radius: 46px;
  }
  .potion_flow {
    position: absolute;
    width: 167px;
    height: 11px;
    background: #5ce65c;
    border-radius: 46px;
  }
  .registration {
    display: flex;
    width: 100%;
    height: 1rem;
    margin-top: 6rem;
  }
  #registration {
    position: absolute;
    width: 243px;
    height: 0.9rem;
    margin-left: 4rem;
  
    font-family: "Konnect";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
  
    color: #fafafa;
  }
  #percentage {
    position: absolute;
    width: 30px;
    height: 15px;
    margin-left: 32rem;
  
    font-family: "Konnect";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
  
    color: #5ce65c;
  }
  .registration_1 {
    display: flex;
    width: 100%;
    margin-top: 1.3rem;
  }
  #registration_1 {
    position: absolute;
    width: 197px;
    height: 8px;
    margin-left: 4rem;
    font-family: "Konnect";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  
    color: #fafafa;
  }
  #percentage_1 {
    position: absolute;
    width: 91px;
    height: 8px;
    margin-left: 27rem;
  
    width: 20rem;
    font-family: "Konnect";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  
    color: #5ce65c;
  }
  
  .spark_image {
    position: absolute;
    left: 6.11%;
    right: 88.5%;
    bottom: 29%;
    height: 84.01px;
  }
  
  .kyc_images {
    margin-top: 2.2rem;
    /* margin-left: 2.225rem; */
    display: flex;
    flex-direction: row;
    height: 0.8rem;
  }
  .kyc_audit {
    display: flex;
    /* flex-direction: row; */
    height: 4.1rem;
    margin-top: 4rem;
  }
  .audit_div {
    margin-left: 4rem;
    box-sizing: border-box;
  
    position: absolute;
    width: 121px;
    height: 51.56px;
    /* left: 365px;
    top: 2308px; */
  
    background: #2c2e30;
    border-radius: 1.2rem;
    border: 1px solid #5ce65c;
  }
  .kycbox_div {
    margin-left: 23rem;
    box-sizing: border-box;
  
    position: absolute;
    width: 121px;
    height: 51.56px;
    /* left: 179px;
    top: 2308px; */
  
    background: #2c2e30;
    border-radius: 1.2rem;
    border: 1px solid #5ce65c;
  }
  
  #button_18 {
    position: absolute;
    width: 121px;
    height: 51.56px;
    margin: 1rem 2.5rem;
  
    font-family: "Konnect";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
  
    color: #ffffff;
  }
  #button_19 {
    margin: 1rem 3.5rem;
    position: absolute;
    width: 22.96px;
    height: 5.62px;
    /* left: 397px;
    top: 2319px; */
  
    font-family: "Konnect";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
  
    color: #ffffff;
  }
  
  .boxes_mid2 {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    gap: 3rem;
  }
  .boxes_mid2_left {
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
    gap: 2.5rem;
  }
  .boxes_mid2_left_left {
    display: flex;
    flex-direction: column;
  }
  .boxes_mid2_left_right {
    display: flex;
    flex-direction: column;
    margin-left: 3.6rem;
    margin-top: 1.1rem;
  }
  .boxes_mid2_image1 {
    position: absolute;
    width: 21px;
    height: 18px;
    margin-top: 1rem;
  }
  .boxes_mid2_image2 {
    position: absolute;
    width: 21px;
    height: 18px;
    margin-top: 3.5rem;
  }
  .boxes_mid2_image3 {
    position: absolute;
    width: 21px;
    height: 18px;
    margin-top: 6rem;
  }
  
  .boxes_mid2_left_headings {
    /* margin-bottom: 1.5rem; */
    /* position: absolute; */
    width: 20.31px;
    height: 4.92px;
    margin-bottom: 2.1rem;
  
    /* TEXT small banners */
  
    font-family: "Avenir Next Cyr";
    font-style: normal;
    font-weight: 450;
    font-size: 11px;
    line-height: 148.8%;
    /* or 9px */
  
    color: #fafafa;
  }
  .boxes_mid2_right {
    margin-top: 1.1rem;
  }
  .boxes_mid2_right_headings {
    /* position: absolute; */
    width: 173px;
    height: 16px;
    margin-bottom: 1rem;
    margin-left: 4rem;
    font-family: "Avenir Next Cyr";
    font-style: normal;
    font-weight: 450;
    font-size: 11px;
    line-height: 148.8%;
    /* or 9px */
  
    color: #ffffff;
  }
  .boxes_mid3 {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
  }
  .boxes_mid3_left {
    position: absolute;
    width: 22px;
    height: 15px;
    margin-left: 4rem;
  }
  
  .boxes_mid3_right {
    position: absolute;
    width: 147px;
    height: 8px;
    margin-left: 10rem;
  
    font-family: "Avenir Next Cyr";
    font-style: normal;
    font-weight: 450;
    font-size: 11px;
    line-height: 148.8%;
    /* or 9px */
  
    color: #fafafa;
  }
  .right_bottom {
    position: absolute;
    width: 395px;
    height: 249px;
    margin-left: 100rem;
    margin-top: 69rem;
  
    background: #1a1e21;
    border-radius: 10px;
  }
  
  .right_bottom_top {
    position: absolute;
    width: 120px;
    height: 13px;
    margin-left: 3rem;
    margin-top: 2rem;
    font-family: "Konnect";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    color: #d9d9d9;
  }
  
  .right_bottom_top1 {
    box-sizing: border-box;
  
    position: absolute;
    width: 338px;
    height: 36px;
    margin-left: 3rem;
    margin-top: 4rem;
    border: 1px solid #d9d9d9;
    border-radius: 9px;
  }
  
  .right_bottom_top2 {
    box-sizing: border-box;
  
    position: absolute;
    width: 78px;
    height: 33px;
    margin-left: 3rem;
    margin-top: 8.5rem;
    border: 1px solid #d9d9d9;
    border-radius: 9px;
  }
  
  #button_20 {
    position: absolute;
    width: 18px;
    height: 13px;
    margin-left: 3rem;
    margin-top: 1rem;
  
    /* small button bold */
  
    font-family: "Konnect";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    color: #d9d9d9;
  }
  .right_bottom_bottom {
    display: flex;
    flex-direction: row;
    margin-top: 14.8rem;
    margin-left: 3rem;
    gap: 20rem;
    margin-top: 14rem;
  }
  .right_bottom_left {
    display: flex;
    flex-direction: column;
  }
  .right_bottom_right {
    display: flex;
    flex-direction: column;
  }
  .right_bottom_leftheadings {
    font-family: "Konnect";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #d9d9d9;
    width: 75px;
    height: 13px;
    margin-bottom: 1rem;
  }
  .right_bottom_rightheadings {
    /* position: absolute; */
    width: 49px;
    height: 13px;
    
    font-family: "Konnect";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-align: right;
    color: #79fb53;
    margin-bottom: 1rem;
  }
  .spark_image_2_1 {
    height: 0.7rem;
    width: 0.83rem;
  }
  .spark_image_1 {
    position: absolute;
    left: 7.04%;
    right: 90.54%;
    bottom: 20%;
  }
  
  .bottom_div {
    position: absolute;
    width: 192rem;
    height: 18.8rem;
    left: 0px;
    top: 133rem;
    background-color: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .info_div_1 {
    display: flex;
    flex-direction: row;
    margin-left: 60rem;
    margin-top: 4rem;
    width: 55rem;
    box-sizing: border-box;
    position: absolute;
  }
  p {
    margin-left: 5.7rem;
    font-family: "Konnect";
    font-style: normal;
    font-weight: 40rem;
    font-size: 1.5rem;
    color: #ffffff;
    letter-spacing: 1px;
  }
  
  .bottom_corner {
    margin-left: 156.5rem;
    width: 26rem;
    height: 12rem;
    box-sizing: border-box;
    position: absolute;
    margin-top: 3rem;
  }
  
  .input {
    box-sizing: border-box;
    border: 1px solid #5ce65c;
    background: #ffffff;
    border-radius: 1.2rem;
    margin-left: 0.3rem;
    width: 24.5rem;
    height: 3.6rem;
    padding: 1rem;
  }
  
  #button_4 {
    position: absolute;
    width: 9.7rem;
    height: 3.6rem;
    margin-top: 4rem;
    background: linear-gradient(91.18deg, #5ce65c 3.96%, #249806 101.84%);
    border-radius: 0.7rem;
    margin-left: -9.5rem;
  }
  
  #bottom_para {
    margin-left: 1rem;
    font-family: "Konnect";
    font-style: normal;
    font-weight: 40rem;
    font-size: 1.5rem;
    color: #ffffff;
    letter-spacing: 0.2rem;
  }
  
  .heading {
    box-sizing: border-box;
    position: absolute;
    margin-left: 24rem;
    display: flex;
    flex-direction: column;
    width: 12rem;
    color: #fff;
    margin-top: 8rem;
    letter-spacing: 1rem;
  }
  
  .spark_image_2 {
    width: 2rem;
    height: 2rem;
    display: flex;
    margin-left: 38rem;
    margin-top: 13rem;
    box-sizing: border-box;
    position: absolute;
  }
  .spark_image_2_1 {
    margin-left: 2rem;
    width:2rem;
    height:1.9rem
  }
  
  .info_div_3 {
    box-sizing: border-box;
    position: absolute;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    margin-left: 65rem;
    margin-top: 10rem;
    width: 50.5rem;
  }
  h5 {
    letter-spacing: 0.1rem;
    font-family: "Konnect";
    font-style: normal;
    font-weight: 40rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  