* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 62.5%;
}
/* .main_div_metamask {
  position: relative;
  width: 192rem;
  height: 151.5rem;
  position: absolute;

  background: rgba(33, 33, 33, 0.66);
} */
.metamask_div {
    box-sizing: border-box;
    position: absolute;
    width: 68.3rem;
    height: 46.1rem;
    left: 59rem;
    top: 52.2rem;
    
    background: #131313;
    border-radius: 3.4rem;
    border:2px solid green;
}
.metamask_heading{
    position: absolute;
    width: 50.6rem;
    height: 8.85rem;
    margin-left: 8.8rem;
    margin-top: 3.6rem;
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 7rem;
    line-height: 8.7rem;
    text-align: center;
    color: #79FB53;
    word-spacing: 0.8rem;
}
.metamask_heading_below{
    position: absolute;
    width: 56.6rem;
    height: 8.1rem;
    margin-left: 6rem;
    margin-top: 16.2rem;
    
    border-radius: 18px;
    border:1px solid green;
    display:flex;
    flex-direction: row;
}
.wolf_earleft_1{
  /* position: absolute; */
  left: 35.09%;
  right: 63.99%;
  top: 46.61%;
  bottom: 52.58%;
  
  background: #E27625;
  border: 0.348958px solid #E27625;
}
.wolf_earleft_2{

  /* position: absolute; */
  left: 34.98%;
  right: 64.02%;
  top: 46.61%;
  bottom: 52.11%;
  
  background: #763E1A;
  border: 0.348958px solid #763E1A;
}
.wolf_earright_1{
  /* position: absolute; */
  left: 36.3%;
  right: 62.78%;
  top: 46.61%;
  bottom: 52.59%;
  
  background: #E17726;
  border: 0.348958px solid #E17726;
}
.wolf_earright_2{
  /* position: absolute; */
  left: 36.33%;
  right: 62.67%;
  top: 46.61%;
  bottom: 52.11%;
  
  background: #763E1A;
  border: 0.348958px solid #763E1A;
}

.metamask_img{

}
#metamask_face{
  width:8rem;
  height:7rem;
  margin-left:2rem
}
.metamask_connect{
  position: absolute;
  width: 141.38px;
  height: 29.51px;
  margin-left: 12rem;
  margin-top: 2rem;
  
  font-family: 'Konnect';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.04em;
  
  color: #D9D9D9;
  
}

.metamask_crypto{
    position: absolute;
    width: 38.6rem;
    height: 3.3rem;
    margin-left:18rem;
    margin-top: 29.3rem;
    
    font-family: 'Konnect';
    font-style: normal;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 3.3rem;
    color: #FFFFFF;
}
.metamask_learn_connect{

    box-sizing: border-box;

    position: absolute;
    width: 31.7rem;
    height: 7.2rem;
    margin-left: 18.3rem;
    margin-top: 34.6rem;
    
    background: linear-gradient(91.18deg, #5CE65C 3.96%, #249806 101.84%);
    border-radius: 1.5rem;
}
#button_27{
    position: absolute;
    width: 25.8rem;
    height: 3.3rem;
   margin-top: 1.9rem;
   margin-left: 4rem;
    
    font-family: 'Konnect';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.3rem;
    color: #FFFFFF;
    
}

@media (min-width: 1000px) and (max-width: 1550px) {
  html {
    font-size: 49.4%;
  }
  #button_3 {
    font-size: 10px;
  }
  .heading {
    margin-left: 27rem;
  }
}

@media (min-width: 1650px) and (max-width: 1920px) {
  html {
    font-size: 62.5%;
  }
  #button_3 {
    font-size: 10px;
  }
}
